name: Generate data from Legacy DOLFIN

on:
  workflow_call:
    inputs:
      artifact_name:
        type: string
        required: true
        description: "Name of the artifact to be created"

jobs:

  create-dolfin-data:
    env:
      data_dir: "legacy"
  
    runs-on: "ubuntu-22.04"
    container: ghcr.io/scientificcomputing/fenics:2024-02-19
    steps:
    - uses: actions/checkout@v5

    - name: Create datasets
      run: python3 ./tests/create_legacy_data.py --output-dir=$data_dir

    - uses: actions/upload-artifact@v5
      with:
        name: ${{ inputs.artifact_name }}
        path: ./${{ env.data_dir }}
