name: Generate adios4dolfinx legacy data

on:
  workflow_call:
    inputs:
      artifact_name:
        type: string
        required: true
        description: "Name of the artifact to be created"

jobs:
  create-adios-data:
    env:
      data_dir: "legacy_checkpoint"
      adios4dolfinx_version: "0.7.1"
    runs-on: "ubuntu-22.04"
    container: ghcr.io/fenics/dolfinx/dolfinx:v0.7.3
  
    steps:
      - uses: actions/checkout@v5

      - name: Install legacy version of adios4dolfinx
        run: python3 -m pip install --break-system-packages adios4dolfinx==${adios4dolfinx_version}

      - name: Create datasets
        run: python3 ./tests/create_legacy_checkpoint.py --output-dir=$data_dir

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.artifact_name }}
          path: ./${{ env.data_dir }}
