name: Test package

on:
  push:
    # The CI is executed on every push on every branch
    branches:
      - main
  pull_request:
    # The CI is executed on every pull request to the main branch
    branches:
      - main

  workflow_call:
  workflow_dispatch:
  schedule:
    # The CI is executed every day at 8am
    - cron: "0 8 * * *"
jobs:

  create-datasets:
    uses: ./.github/workflows/create_legacy_data.yml

  check-formatting:
    uses: ./.github/workflows/check_formatting.yml

  test-code:
    runs-on: "ubuntu-22.04"
    needs: [create-datasets, check-formatting]
    container: ghcr.io/fenics/dolfinx/dolfinx:nightly
    env: 
      DEB_PYTHON_INSTALL_LAYOUT: deb_system
      PYTHONPATH: /usr/local/lib/python3/dist-packages:/usr/local/lib:/usr/local/dolfinx-real/lib/python3.10/dist-packages

    steps:
      - uses: actions/checkout@v3

      - name: Update pip
        run: python3 -m pip install --upgrade pip setuptools

      - name: Download legacy data
        uses: actions/download-artifact@v3
        with:
          name: legacy
          path: ./legacy
  
      - name: Install package
        run: python3 -m pip install .[test]

      - name: Run tests
        run: coverage run --rcfile=.coveragerc -m mpi4py -m pytest -xvs ./tests/

      - name: Run tests in parallel
        run: mpirun -n 2 coverage run --rcfile=.coveragerc -m mpi4py -m pytest -xvs ./tests/

       
      - name: Combine coverage reports
        run: |
          coverage combine
          coverage report -m
          coverage html

      - name: Upload coverage report as artifact
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: htmlcov
          if-no-files-found: error